<!-- Any template-driven-form use Ngform attribute(directive)
The corresponding model is automatically created by angular
UserData becomes the object that acts as a model. UserData is automatically
created by angular. It will have fields like firstName, lastName, salary and joinDate.
Ngform is builtin class.
<form #userData="ngForm" translates to  var userData = new NgForm(); by angular.
-->

<!-- Add user form -->


  <!-- Edit user form (hidden by default) -->
  <!--<div *ngIf="editingUser">
    <h2>Edit User</h2>
    <form #editForm="ngForm" (ngSubmit)="updateUser(editForm)">
      UserId<input type="text" name="uid" ngModel [(ngModel)]="editingUser.firstName" /><br>
      password <input type="text" name="password" ngModel [(ngModel)]="editingUser.lastName" /><br>
      EmailId<input type="email" name="emailid" ngModel [(ngModel)]="editingUser.joinDate" /><br>
      <input type="submit" value="Update user" />
     <button (click)="cancelEdit()">Cancel</button> 
    </form>
  </div> -->
  
  <div style="color: gold; background-color: black;">
  The greatest wisdom is in recognizing one's own ignorance.<br><br>
  The past is already gone, the future is not yet here.<br> 
  There's only one moment for you to live, and that is the present moment.<br><br>
</div>

<p>Home works!</p>
